@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Nest.CatIndicesRecord>

<h2>Elastic & SQL Index Counts</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocsCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocsCount)
                </td>
            </tr>
        }
    </tbody>
</table>
